 {
    "dashboardMetadata": {
      "name": "dynamodb_dashboard_template",
      "shared": true,
      "owner": "Cosmos",
      "tags" : [
          "cosmos"
        ],
      "preset": true,
      "popularity": 1,
      "dynamicFilters": {
        "filters": [
          "CUSTOM_DIMENSION:DynamoDB Table"
        ],
        "genericTagFilters": []
      },
      "hasConsistentColors": false
    },
  "tiles": [
    ${file("dashboards/golden_dashboards/dynamodb/conditionalcheckfailedrequests.json")},
    ${file("dashboards/golden_dashboards/dynamodb/consumedreadcapacityunits.json")},
    ${file("dashboards/golden_dashboards/dynamodb/consumedwritecapacityunits.json")},
    ${file("dashboards/golden_dashboards/dynamodb/readthrottleevents.json")},
    ${file("dashboards/golden_dashboards/dynamodb/returneditemcount.json")},
    ${file("dashboards/golden_dashboards/dynamodb/successfulrequestlatency.json")},
    ${file("dashboards/golden_dashboards/dynamodb/systemerrors.json")},
    ${file("dashboards/golden_dashboards/dynamodb/throttledrequests.json")},
    ${file("dashboards/golden_dashboards/dynamodb/transactionconflict.json")},
    ${file("dashboards/golden_dashboards/dynamodb/usererrors.json")},
    ${file("dashboards/golden_dashboards/dynamodb/writethrottleevents.json")}
  ]
}